In [47]:
import pandas as pd
data=pd.read_csv(r"C:\Users\Anshu Kumari\Desktop\Mall_Customers.csv", encoding="latin1")
df=pd.DataFrame(data)
print("Data has been successfully imported")
df.head()

Data has been successfully imported

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [27]:
import csv
from collections import Counter
from scipy.stats import skew
from scipy.stats import kurtosis
# Load your dataset 
data = []
with open(r"C:\Users\Anshu Kumari\Desktop\Mall_Customers.csv", 'r') as file:
    reader = csv.reader(file)
    next(reader) 
    for row in reader:
        data.append(int(row[2]))  
# Calculate Mean     
def cal_mean(data):
    total = sum(data)
    mean = total / len(data)
    return mean
mean = cal_mean(data)

# Calculate Median
def cal_median(data):
    sorted_data = sorted(data)
    n = len(data)
    
    if n % 2 == 0:
        median = (sorted_data[n // 2 - 1] + sorted_data[n // 2]) / 2
    else:
        median = sorted_data[n // 2]
    return median
median = cal_median(data)
# Calculate Mode
def cal_mode(data):
     counts = Counter(data)
     mode = [k for k, v in counts.items() if v == max(counts.values())]
     return mode
mode = cal_mode(data)

# calculate Skewness
skewness= skew(data)
# calculate Kurtosis
age_column = kurtosis(data)
kurtosis_value = kurtosis(age_column)

# Print the mean median & mode value
print(f"Mean: {mean}")
print(f"Median: {median}")
print(f"Mode: {mode}")
print(f"Skewness:{skewness}")
print(f"Kurtosis for 'Age' column: {kurtosis_value}")

Mean: 38.85
Median: 36.0
Mode: [32]
Skewness:0.48191947090957177
Kurtosis for 'Age' column: -3.0