In [47]:
import pandas as pd
data=pd.read_csv(r"C:\Users\Anshu Kumari\Desktop\Mall_Customers.csv", encoding="latin1")
df=pd.DataFrame(data)
print("Data has been successfully imported")
df.head()

Data has been successfully imported

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [52]:
import csv
from collections import Counter
# Load your dataset 
data = []
with open(r"C:\Users\Anshu Kumari\Desktop\Mall_Customers.csv", 'r') as file:
    reader = csv.reader(file)
    next(reader) 
    for row in reader:
        data.append(int(row[2]))  
        
def cal_mean(data):
    total = sum(data)
    mean = total / len(data)
    return mean

# Calculate the mean using your cal_mean
mean = cal_mean(data)
# Print the mean value
print(f"Mean: {mean}")


# Median
def cal_median(data):
    sorted_data = sorted(data)
    n = len(data)
    
    if n % 2 == 0:
        median = (sorted_data[n // 2 - 1] + sorted_data[n // 2]) / 2
    else:
        median = sorted_data[n // 2]
    return median
# Calculate the median using your cal_median function
median = cal_median(data)
# Print the median 
print(f"Median: {median}")

# Mode 
def cal_mode(data):
     counts = Counter(data)
     mode = [k for k, v in counts.items() if v == max(counts.values())]
     return mode
# Calculate the mode using your cal_mode function
mode = cal_mode(data)

# Print the mode
print(f"Mode: {mode}")

Mean: 38.85
Median: 36.0
Mode: [32]